form table, form th, form td, form tbody {
	border-width: 0px;
	border-style: none;
}

form table label {
	margin: 2vh auto;
	text-align: center;
	display: inline-block;
}

input[type='submit'] {
	border-style: solid;
	border-color: var(--header-color);
	background-color: var(--accent-color);
	border-radius: 30%;
}

form a:link, form a:visited {
	color: var(--etc-color);
}
